@media only screen and (max-width: 1415px) {
    section.attractions {
        grid-template-rows: 15vh 45vh;
        grid-template-areas: "attractions"
                             "slide";    
        height: 65vh;  
    }

    
}

@media only screen and (max-width: 1376px) {


    header .navigation nav .menu li {
        padding: 22.5px 31px;
    }

    header .navigation nav .menu li a{
        font-size: 18px;
    }

    header .titles .title_first h3 {
        font-size: 60px;
    }

    header .titles .title_first h2 {
        font-size: 45px;
    }

    section.attractions {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 65vh;
        grid-template-areas: "attractions"
                             "slide";
        background-color: #f7f7f7;
        height: 80vh;
        align-items: center;
        justify-content: center;
        padding: 5vh 0;
    }
    



    section.attractions img.our {
        width: 50vw;
    }

    section.info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80vh 10vh;
        grid-template-areas: "map trans"
                             "footer footer";
        grid-column-gap: 10px;
        background-color: #ffa5fd;
        padding-top: 6vh;
    }
}


@media only screen and (max-width: 1182px) {
    header .navigation {
        width: 100%;
    }

    section.attractions {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 55vh;
        grid-template-areas: "attractions"
                             "slide";
        background-color: #f7f7f7;
        height: 82vh;
        align-items: center;
        justify-content: center;
        padding: 5vh 0;
    }

    section.attractions img.our {

        justify-self: center;
        grid-area: attractions;
        width: 65vw;
    }
    

}

@media only screen and (max-width: 1026px) {

    header {
        grid-template-columns: 1fr;
        width: 100vw;
    }

    .menu-btn {
        display: block;
        width: auto;
        padding-top: 1vh;
        padding-left: 2vw;
        height: 6vh;
        fill: #fff;
        position: absolute;
        transition: .2s;
        z-index: 999;
    }    

    .menu_btn_active {
        transform: rotate(0deg);
    }

    header .navigation nav {
        display: none;
    }

    header {
        grid-template-columns: 1fr;
    }


    header nav.burger_menu {
        position: absolute;
        top: 8vh;
        background: #244284;
        width: 60vw;
        height: 92vh;
        display: block;
        transition: all .25s ease-in;
        opacity: 1;
        overflow: hidden;
        transition: .5s;
        transform: translateX(-100%);

    }

    header nav.burger_menu_active {
        height: 92vh;
        transform: translateX(0%);   
        box-shadow: 0 0 40px rgba(0,0,0,0.5);     
    }

    header nav.burger_menu .burger_menu_lists li {
        margin-top: -200px 0;
        list-style: none;
        height: calc(92vh / 4);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header nav.burger_menu .burger_menu_lists li:nth-child(1) {
        background-color: #244284;
    }

    header nav.burger_menu .burger_menu_lists li:nth-child(2) {
        background-color: #334d87;
    }

    header nav.burger_menu .burger_menu_lists li:nth-child(3) {
        background-color: #244284;
    }

    header nav.burger_menu .burger_menu_lists li:nth-child(4) {
        background-color: #334d87;
    }

    header nav.burger_menu .burger_menu_lists li a {
        font-family: 'Adigiana_Ultra';
        padding: 0;
        font-size: 50px;
        text-decoration: none;
        text-transform: uppercase;
        background: linear-gradient(to right, #eff0f2, #fff, #eff0f2);
        color: rgba(0, 0, 0, 0.2);
    }

                       /*АТТРАКЦИОНЫ*/    

    section.attractions {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25vh 50vh;
        grid-template-areas: "attractions"
                             "slide";    
        height: 90vh;
    }
    section.attractions img.our {
        width: 70vw;
    }

    section.price {
        height: 105vh;
    }

    section.price .price_header {
        display: none;
    }

    section.price .price_header_min {
        grid-area: price;
        background-image: url(img/price-list.png);
        background-repeat: no-repeat;
        background-size: 400px 65px;
        background-position: 12% 5%;
        height: 70px;
        width: 100vw;
        padding-left: 10%;  
        justify-self: center;
        cursor: pointer;
        margin-top: 10px;
    }
    
    section.price .price_header_min .price_list_min p{
        font-family: 'Adigiana_Ultra';
        padding-top: 80px;
        font-size: 60px;
        width: 80vw;
        text-shadow: 2px 2px #000;
    }
    
    

                                /*INFO*/
    section.info {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "map"
                             "trans"
                             "footer";
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    section.info .map iframe {
        width: 80vw;
    }

    section.info .trans a img {
        width: 80vw;
        padding-bottom: 5vh;
    }

}


@media only screen and (max-width: 768px) {

    section.attractions {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15vh 40vh;
        grid-template-areas: "attractions"
                             "slide";    
        height: 70vh;
    }
    section.attractions img.our {
        width: 70vw;
    }

    section.attractions .bx-wrapper {
        max-width: 100vw;
    }
    section.attractions .bx-wrapper .bx-viewport .slider img {
        width: 100vw;
        height: auto;
    }

    section.price {
        height: 80vh;
    }

}

@media only screen and (max-width: 500px) {
    header {
    background-size: 30vw,
                     30vw,
                     30vw;
    }

    header .navigation a {
        height: 8vh;
    }

    section.attractions {  
        height: 50vh;
    }

    section.price .price_header {
        width: 100vw;
        background-size: 90% auto;
    }
    section.price_active {
        height: 80vh;
    }
    section.price .price_header .price_list {
        font-size: 60px;
    }

    section.attractions .slider-wrapper {
        width: 90vw;
    }

    section.price{
        height: 80vh;
        padding: 0;
        margin: 0;
    }

}
