html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'Adigiana_Ultra';
    src: local('Adigiana_Ultra'),
         url('../fonts/Adigiana_Ultra/Adigiana_Ultra.ttf');
      font-weight: 300;
}
header {
    display: grid;
    grid-template-rows: 8vh 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "navigation"
                         "title";
    background-color: #36499f;
    background-image: url(svg/gaming.svg),
                      url(svg/welcome.svg),
                      url(svg/game.svg);
                      background-repeat: no-repeat;
    background-size: 300px,
                     260px,
                     300px;
    background-position: 2% 85%,
                         50% 25%,
                         98% 85%;
    height: 100vh;
}



header .burger_menu {
    display: none;
    grid-area: burger_menu
}

header .wrapper {
    display: none;
}

.menu-btn {
    display: none;
}

header .navigation {
    justify-self: center;
    grid-area: navigation;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #001683;
    width: 80%;
    height: 100%;
    overflow: hidden;
}

header .navigation a {
    grid-area: logo;
    display: flex;
    flex: 1;
    margin-right: 20px;
    justify-content: center;
}

header .navigation img {
    width: auto;
    height: 50px;
}

header .navigation nav {
    grid-area: navigation;
    flex: 1.5;
    height: 100%;
}

header .navigation nav .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

header .navigation nav .menu li {
    list-style: none;
    padding: 25px 41px;
}

header .navigation nav .menu li:hover {
    background-color: #36499f;
    color: #000;
}

header .navigation nav .menu li a {
    color: #fff;
    font-family: 'BeeskneesC', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    height: 100%;
    width: 100%;
    margin: 0;
}

header .titles {
    grid-area: title;
    display: grid;
    align-items: center;
    justify-content: center;
}

header .titles .title_first h3 {
    text-align: center;
    font-family: 'Adigiana_Ultra';
    color: #fff;
    text-transform: uppercase;
    font-size: 65px
}
header .titles .title_first h2 { /*в ДРК*/
    color: #fff;
    font-family: 'Adigiana_Ultra';
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

                                /*АТТРАКЦИОНЫ*/
section.attractions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 65vh;
    grid-template-areas: "attractions"
                         "slide";
    background-color: #f7f7f7;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
}

section.attractions img.our {

    justify-self: center;
    grid-area: attractions;
    width: 50vw;
}

section.attractions .slider_wrapper {
    margin: 0;
    width: 100%;
}

section.attractions .bx-wrapper {
    margin: auto;
}
                                   /*ПРАЙС-ЛИСТ*/
section.price {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "price";
    background-color: #b63fe6;
    height: 91.8px;
    overflow: hidden;
    transition: all .5 ease-in;
}

section.price_active {
    height: 80vh;
}

section.price .price_header {
    grid-area: price;
    background-image: url(img/price-list.png);
    background-repeat: no-repeat;
    background-size: 400px 65px;
    height: 70px;
    width: 700px;
    justify-self: center;
    cursor: pointer;
    margin-top: 10px;
}

section.price .price_header .price_list {
    font-family: 'Adigiana_Ultra';
    color: #fff;
    padding-top: 80px;
    font-size: 22px;
}
                                       /*КАРТА*/
section.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 75vh 10vh;
    grid-template-areas: "map trans"
                         "footer footer";
    grid-column-gap: 10px;
    background-color: #ffa5fd;
    padding-top: 6vh;
}


section.info .map {
    margin: 0 auto;
    grid-area: map;
}

section.info .trans {
    margin: 0 auto;
    justify-content: center;
    grid-area: trans;
}

section.info .trans a {
    margin: 0 auto;
}

section.info .trans a img {
    width: 80%;    
}
section.info h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Adigiana_Ultra';
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    padding-bottom: 20px;    
}

section.info footer {
    grid-area: footer;
    background-color: #9575cd;
    align-items: center;
}

section.info footer h2 {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-right: 40px;
    text-align: right;
    font-family: 'Adigiana_Ultra';
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

section.info footer p {
    padding: 0;
    margin: 0;
    padding-right: 40px;
    text-align: right;
    font-family: 'Adigiana_Ultra';
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

/*body {
    font-family: Dusha V5, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.heading {
    background-color: #001683;
    width: 100%;
    height: 60px;
}

.heading img {
    padding-top: 7px;
    width: 270px;
    height: 45px;
    margin-left: 20px;
    opacity: 1;
    cursor: pointer;
}

.heading img:hover {
    opacity: .7;
}

.header {
    background-color: #36499f;
    width: 100%;
    height: 100vh;
    background-image: url(svg/gaming.svg),
                      url(svg/welcome.svg),
                      url(svg/game.svg);
    background-repeat: no-repeat;
    background-size: 400px,
                     300px,
                     400px;
    background-position: 2% 85%,
                         50% 35%,
                         98% 85%;
}
.burger {
    display: none;
}

nav_mob{
    display: none;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

nav {
    float: right;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}



.menu li {
    float: left;
    display: block;
    margin-top: 0;
    padding: 17px 41px 16px 41px;
    transition: all .2s;
    color: #aaa;
    cursor: pointer;
}

.menu li:hover {
    background-color: #36499f; 
    color: #000;   
}

.menu li a {
    color: #fff;
    font-family: Dusha V5, sans-serif;
    text-decoration: none;
    text-transform: uppercase; 
    font-size: 25px; 
}




.title_first { 
    text-align: center;
    font-family: Dusha V5, sans-serif;
    color: #fff;
    margin-top: 350px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: .9;
    cursor: pointer;
}

.title_first:hover {
    font-size: 63px;
    opacity: 1;
}

h1 { 
    color: #fff;
    font-family: Dusha V5, sans-serif;
    text-align: center;  
    text-transform: uppercase; 
    font-size: 35px;
    opacity: .9;
    cursor: pointer;
}

h1:hover {
    font-size: 38px;
    opacity: 1;
}

 
.sl {
   margin-bottom: 30px;
    
}

.section {
    margin-top: 0;
    background-color: #f7f7f7;
    width: 100%;
    height: 600px;
    text-align: center;
    background-image: url(svg/happy_birthday.svg),
                      url(svg/wifi.svg),
                      url(img/border.png);
    background-repeat: no-repeat;
    background-size: 250px,
                     150px,
                     978px 460px;
    background-position: 2% 70%,
                         98% 20%,
                         50% 83.8%;
    
}

#attr div.container {
    width: 900px;
}


.sl__img {  
    border-radius: 0px;  
    width: 100%;
}

.sl__img img {
    width: 100%;
}



h2 { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
 
}

.our {
    align: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 570px;
}

.price_list_header {
    position: relative;
    width: 98.9vw;
    height: auto;
    background-color: #ffff88;
    padding-top: 20px;
}

.price_list {
    margin: 0px auto;
    padding-top: 0px;
    background-image: url(img/price-list.png);
    background-repeat: no-repeat;
    background-size: 400px 65px;
    height: 70px;
    width: 400px; 
    cursor: pointer;
}

.descr {
    display: none;
    color: #001683;
    padding-top: 90px;
    font-size: 18px;
}

.descr_active {
    display: block;
    top: 0px;
    z-index: 2;
    width: 700px;
}

.descr_active p {
    font-family: Segoe Script;
    font-size: 17px;
}

.descr_active p:hover {
    font-size: 20px;
    font-weight: bold;
}

.price_list_active {
    height: 930px;

}

.section1 div.container {
    display: flex;
    width: 98.9vw;
    height: auto;
    background-color: #ffa5fd;
    justify-content: space-between;
    padding: 40px 0;
}
.box{
    white-space: nowrap;
    width: 50%;
    display: flex;
    padding-left: 150px;
}



.map h2 {
    margin: 0;
    font-family: Dusha V5, sans-serif;
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    padding-top: 0px;
    padding-left: 120px;
    padding-bottom: 10px;
}

.history {
    width: 600px;
    display: block;
    padding-right: 150px;
}

.history h4 { 
    font-family: Dusha V5, sans-serif;
    color: #fff;
    font-size: 42px;
    text-transform: uppercase;
    padding-left: 45px;
    padding-bottom: 0px;
    margin: 0;
}
.history p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #fff;
    padding-left: 50px;
   
}

.card {
    width: 400px;
    padding-left: 50px;
    padding-top: 14px;

}

.card:hover {
    width: 450px;
}

.slide {
    padding-top: 50px;
    max-width: 300px;
}



.footer {
    background-color: #9575cd;
    width: 98.9vw;
}

.footer .container {
    display: flex;
    justify-content: space-between;

    
}

.weather {
    max-width: 200px;   
    padding-top: 10px;
    opacity: .1;
    cursor: pointer;
}

.weather:hover {
    opacity: 1;
}


.container h3 {
    font-family: Dusha V5, sans-serif;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 30px 30px 0 20px;
    text-align: right;
    margin: 0;
}

 .container .mail {
    font-family: Dusha V5, sans-serif;
    color: #fff;
    font-size: 15px;
    width: 50px;
    padding: 0px 30px 10px 20px;
    text-align: right;
    margin: 0;

}

.foot a {
    font-family: Dusha V5, sans-serif;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 30px 0px 20px;
    text-align: right;
    text-decoration: none;
    margin: 0;
}

/*
.scroll-up {
    width: 130px;
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(252,252,252, .3);
    color: #aaaaaa;
    font-size: 13px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background .2s ease;
    display: none;
}

.scroll-up:hover {
    background-color: rgba(238,238,238, .5);
    color: #777777;
}

*/































